In [8]:
# Поменяем колонку `gender` так, чтобы были записи `F` (female) и `M` (male) вместо 0 и 1

import pandas as pd
df = pd.read_csv('wage.csv')
gender_mapping = {0: 'Female', 1: 'Male'}
df['gender'] = df['gender'].map(gender_mapping)
print(df)

      person_id  gender           wage
0             0    Male   46793.603811
1             1    Male   33481.575720
2             2    Male   44523.699084
3             3    Male   15995.576829
4             4  Female   10282.631224
...         ...     ...            ...
1001        995    Male   66503.737185
1002        996    Male    9972.956272
1003        997  Female  104504.616392
1004        998    Male   98927.903076
1005        999    Male  108107.141368

[1006 rows x 3 columns]

In [10]:
# Давайте посчитаем среднюю зарплату у мужчин и женщин

import pandas as pd
df = pd.read_csv('wage.csv')
gender_mapping = {0: 'Female', 1: 'Male'}
df['gender'] = df['gender'].map(gender_mapping)
average_wages = df.groupby('gender')['wage'].mean()
average_wages

gender
Female    40855.747261
Male      46815.944005
Name: wage, dtype: float64

In [18]:
import pandas as pd
df = pd.read_csv('wage.csv')
gender_mapping = {0: 'F', 1: 'M'}
df['gender'] = df['gender'].map(gender_mapping)

# Находим людей, которые попали в выборку несколько раз
duplicates = df['person_id'].value_counts()
duplicates = duplicates[duplicates > 1]
print("Люди, которые попали в выборку несколько раз:")
print(duplicates)

Люди, которые попали в выборку несколько раз:
person_id
17    2
16    2
15    2
14    2
13    2
12    2
Name: count, dtype: int64

In [16]:
import pandas as pd
df = pd.read_csv('wage.csv')
gender_mapping = {0: 'F', 1: 'M'}
df['gender'] = df['gender'].map(gender_mapping)

#Проверяем, что записи по ним с одинаковым wage (т.е. у них одинаковая зарплата)
for person_id in duplicates.index:
  person_df = df[df['person_id'] == person_id]
  if person_df['wage'].nunique() == 1:
    print(f"У человека с ID {person_id} одинаковая зарплата во всех записях.")
  else:
    print(f"У человека с ID {person_id} разная зарплата в записях.")

У человека с ID 17 одинаковая зарплата во всех записях.
У человека с ID 16 одинаковая зарплата во всех записях.
У человека с ID 15 одинаковая зарплата во всех записях.
У человека с ID 14 одинаковая зарплата во всех записях.
У человека с ID 13 одинаковая зарплата во всех записях.
У человека с ID 12 одинаковая зарплата во всех записях.

In [20]:
import pandas as pd
df = pd.read_csv('wage.csv')
gender_mapping = {0: 'F', 1: 'M'}
df['gender'] = df['gender'].map(gender_mapping)

# Избавляемся от повторяющихся значений
df_unique = df.drop_duplicates(subset=['person_id'], keep='first')
print("DataFrame без дубликатов:")
print(df_unique)

DataFrame без дубликатов:
      person_id gender           wage
0             0      M   46793.603811
1             1      M   33481.575720
2             2      M   44523.699084
3             3      M   15995.576829
4             4      F   10282.631224
...         ...    ...            ...
1001        995      M   66503.737185
1002        996      M    9972.956272
1003        997      F  104504.616392
1004        998      M   98927.903076
1005        999      M  108107.141368

[1000 rows x 3 columns]

In [24]:
import pandas as pd
df = pd.read_csv('wage.csv')
gender_mapping = {0: 'F', 1: 'M'}
df['gender'] = df['gender'].map(gender_mapping)

# Охарактеризуем имеющиеся данные по зарплатам
print("Описание данных по зарплатам:")
print(df_unique['wage'].describe())

Описание данных по зарплатам:
count       995.000000
mean      44306.969585
std       54302.194392
min         945.648458
25%       14683.306148
50%       27519.361794
75%       52267.313664
max      755320.874132
Name: wage, dtype: float64

In [26]:
import pandas as pd
df = pd.read_csv('wage.csv')
gender_mapping = {0: 'F', 1: 'M'}
df['gender'] = df['gender'].map(gender_mapping)

# Избавляемся от бессмысленных значений (например, отрицательных зарплат)
df_unique = df_unique[df_unique['wage'] > 0]

# Выводим обновленный DataFrame
print("\nDataFrame без дубликатов и отрицательных зарплат:")
print(df_unique)

DataFrame без дубликатов и отрицательных зарплат:
      person_id gender           wage
0             0      M   46793.603811
1             1      M   33481.575720
2             2      M   44523.699084
3             3      M   15995.576829
4             4      F   10282.631224
...         ...    ...            ...
1001        995      M   66503.737185
1002        996      M    9972.956272
1003        997      F  104504.616392
1004        998      M   98927.903076
1005        999      M  108107.141368

[995 rows x 3 columns]